<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProtoypeCRUD</display-name>
  <welcome-file-list>
    <welcome-file>/faces/indice.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>sunny</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
<!--   <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener> -->
  <description>MySQL JOAPP</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/bd_clientes</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
<context-param>
	<param-name>authority</param-name>
	<param-value>https://login.windows.net/</param-value>
</context-param>
<context-param>
	<param-name>tenant</param-name>
	<param-value>argumel.onmicrosoft.com</param-value>
</context-param>

<filter>
		<filter-name>BasicFilter</filter-name>
		<filter-class>mx.prototype.adaj4jAzure.BasicFilter</filter-class>
		<init-param>
			<param-name>client_id</param-name>
			<param-value>b14334e3-e41b-442e-bcc7-942c8daa0891</param-value>
		</init-param>
		<init-param>
			<param-name>secret_key</param-name>
			<param-value>-nmo.E2MgZdQ-3AX?1ePNDe9uJshj:H[</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BasicFilter</filter-name>
		<url-pattern>/faces/secure/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>	
	<listener>
	<listener-class>
		org.springframework.web.context.request.RequestContextListener
	</listener-class>
    </listener>
  
</web-app>